.jumbotron {
  text-align: center;
}

#raid-input {
  width: 100%;
  height: 300px;
  resize: none;
}

#p-raid-log {
  text-align: center;
}

#results {
  display: none;
}

table {
  width: 100%;
  text-align: left;
}

td {
 padding-bottom: 2px;
}
tr:hover {
  background-color: skyblue;
}

#modal-text {
  display: none;
}