body {
  background-color: #36393D;
}

.jumbotron {
  background-color: #36393D;
  text-align: center;
  color: #FF851B;
  text-shadow: 2px 2px 1px #212529;
}

#raid-input {
  width: 100%;
  height: 300px;
  resize: none;
}

#p-raid-log {
  text-align: center;
}

#results {
  display: none;
}

table {
  width: 100%;
  text-align: left;
}

td {
 padding-bottom: 2px;
}
tr:hover {
  background-color: skyblue;
}

.panel {
  background-color: #EEEEEE;
  box-shadow: 5px 5px 10px #212529;
}

.panel-heading {
  background-color: orange !important;
}

.panel-title {
  font-weight: bold;
  color: black;
}

#modal-text {
  display: none;
}

.modal-lg {
  max-width: 80%;
}

.modal-header {
  text-align: center;
  background-color: orange;
}

.modal-body {
  background-color: ORAN;
}

.modal-footer {
  text-align: center;
}